<app-user-editor [(name)]="userName">
</app-user-editor>
<p>El nombre actual del usuario es: {{ userName }}</p>
<app-user-display [(name)]="userName"></app-user-display>
<p>El nombre actual del usuario es: {{ userName }}</p>
<hr>
<app-color-button></app-color-button>
<hr>
<p>El tema actual es: {{ theme }}</p>
<button (click)="changeTheme($event)">Cambiar Tema</button>
@if (theme == "light") {
  <p>🌞 Modo claro activado</p>
}
@else {
  <p>🌙 Modo oscuro activado</p>
}
<hr>
<button [ngClass]="isActive ? 'active' : 'inactive'">Boton</button>
<p [ngStyle]="{'font-size': fontSize + 'px'}">Texto dinamico</p>
<button (click)="aumentarSize()">Aumentar tamaño</button>
<button (click)="disminuirSize()">Disminuir tamaño</button>
<router-outlet />
