<app-user-editor [(name)]="userName">
</app-user-editor>
<p>El nombre actual del usuario es: {{ userName }}</p>
<app-user-display [(name)]="userName"></app-user-display>
<p>El nombre actual del usuario es: {{ userName }}</p>
<hr>
<app-color-button></app-color-button>
<hr>
<p>El tema actual es: {{ theme }}</p>
<button (click)="changeTheme($event)">Cambiar Tema</button>
@if (theme == "light") {
  <p>🌞 Modo claro activado</p>
}
@else {
  <p>🌙 Modo oscuro activado</p>
}
<hr>
<button [ngClass]="isActive ? 'active' : 'inactive'">Boton</button>
<p [ngStyle]="{'font-size': fontSize + 'px'}">Texto dinamico</p>
<button (click)="aumentarSize()">Aumentar tamaño</button>
<button (click)="disminuirSize()">Disminuir tamaño</button>
<hr>
<img src="https://img.freepik.com/vector-premium/persona-camisa-azul-que-dice-nombre-persona_1029948-7040.jpg?semt=ais_hybrid&w=740&q=80" alt="user" [appRotate]="90">
<hr>
<p appHighlight>Este texto se puede resaltar al hacer click</p>
<p appHighlight [highlightColor]="'red'">Este texto se puede resaltar de rojo</p>
<router-outlet />
